<!DOCTYPE html>
<head> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<html>
<body>

<h1> UN Classoom </h1>

<p>Here are the details for your request </p>

<div style="margin: 30 px">

</div>



<h1>
<%= @request.id %>
</h1>
</body>
</html>