<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <h1>Welcome#new_user</h1>

<p>
  <%= @user.first_name %>, thanks for create a user in UN Classroom =D
   find me in app/views/welcome_mailer/new_user.html.erb
</p>
  

<p>
  <%= @greeting %>, find me in app/views/welcome_mailer/new_user.html.erb
</p>

</html>
