<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <h1>Welcome#new_user</h1>

<p>
  <%= @user.id %>, thanks for create a user in UN Classroom =D
   </p>
  

<p>
  <%= @greeting %>
</p>

</html>
