<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>thanks for your request
</p>
<p>your request id is <%= @request.id %>
</p>
  </body>
</html>